	             html {
	             	scroll-behavior: smooth;
	             }
	             body {
	             	background-color: #faf5ef;
	             	margin: 0;
	             	font-family: 'Patua One', cursive;
	             	padding: 0;
	             }
	             * {
					 box-sizing: border-box;
	             }
	             #first-background {
	             	background-image: url(4.png);
	             	background-size: cover;
	             	background-attachment: fixed;
	             	width: auto;
	             	background-position: center;
	             }
	             .menu-wrap {
					text-align: center;
					margin: 0 0 0 0;
					list-style: none;
  					padding: 0;
  					display: flex;
					justify-content: space-around;
    				list-style-type:none;
					width:100%;
					background-color: #17124c;
					position: fixed;
					font-size: 25px;
	             }
	             .logo {
	             	border: 0;
	             	max-width: 100%;
	             	vertical-align: middle;
	             	display: inline-block;
	             	font-size: 18px;
	             	line-height: 26px;
	             	margin-top: 100px;
	             }
	             #a1 {
	             	color: #ee3634;
	             	text-decoration: none;
	             }
	             #a2 {
	             	color: #ee3634;
	             	text-decoration: none;
	             }
	             #a3 {
	             	color: #ee3634;
	             	text-decoration: none;
	             }
	             #a4 {
	             	color: #ee3634;
	             	text-decoration: none;
	             }
	             #a5 {
	             	color: #ee3634;
	             	text-decoration: none;
				 }

				 @keyframes jump {
					0% { top: 0; } 50% { top: 50px; } 100% { top: 0; }
				  }
				  
	             .arrow {
	             	font-size: 80px;
					position: relative;
					text-align: center;
					animation: jump 5s infinite;
					margin-bottom: 250px;
					
				a {
					content: '\f0a8';
					font-family: 'Patua One', cursive;
					font-size: 80px;
					transition: .3s ease-in-out;
				}
				a:hover {
				    opacity: 0.7;
					transition: .3s ease-in-out;
						}
					  
					}
	             .grid-container {
	             	display: flex;
	             	width: 100%;
	             	margin: auto;
	             	color: #ee3634;
					filter: contrast(140%);  
					justify-content: space-around;
					font-family: 'Patua One', cursive;
	             }
	             .grid-item {
	             	width: 70%;
	             	font-size: 25px;
	             	text-align: center;
	             }
	             .group {
	             	color: #ee3634;
	             }
	             .grid-text {
	             	font-size: 25px;
	             	color:black;
				 }
				 .first-grid-text {
					 font-size: 25px;
					 color: black;
				 }
	             .second-text {
	             	display: flex;
	             	width: 100%;
	             }
	             .second-details {
	             	display: flex;
	             	width: 100%;
	             	padding: 20px;
	             	font-size: 25px;
	             	text-align: center;
	             }
	             .detail-text {
	             	text-align: center;
	             	margin: auto;
	             	display: block;
	             }
	             #video {
	             	text-align: center;
					 margin: auto;
					 padding-bottom: 50px;;
	             }
	             #third-parallax {
	             	background: url(4.png);
	             	background-size: cover;
	             	background-attachment: fixed;
	             	height: 900px;
	             	width: auto;
	             	background-position: center;
	             }
	             #fourth-section {
	             	color: #ee3634;
	             	margin: 40px;
	             	text-align: center;
	             }
	             .submit-form {
	             	width: 90%;
	             	display: flex;
	             	margin: auto;
	             }
	             .name-input {
	             	padding: 5px;
	             	margin: auto;
	             }
	             .contacts {
					 margin: auto;
					 font-family: 'Patua One', cursive;
					 font-size: 20px;
	             }
	             .button {
	             	background-color: #ee3634;
	             	border: none;
	             	color: white;
	             	padding: 8px 16px;
	             	text-decoration: none;
	             	margin: 4px 2px;
	             	cursor: pointer;
	             }
	             /* The grid: Four equal columns that floats next to each other */

	             .column {
	             	float: left;
	             	width: 25%;
	             	padding: 20px;
	             	filter: brightness(110%);
	             	filter: contrast(120%);
	             }
	             /* Style the images inside the grid */

	             .column img {
	             	opacity: 0.8;
	             	cursor: pointer;
	             }
	             .column:hover{
					color: #424242; 
				  -webkit-transition: all .3s ease-in;
				  -moz-transition: all .3s ease-in;
				  -ms-transition: all .3s ease-in;
				  -o-transition: all .3s ease-in;
				  transition: all .3s ease-in;
				  opacity: 1;
				  transform: scale(1.15);
				  -ms-transform: scale(1.15); /* IE 9 */
				  -webkit-transform: scale(1.15); /* Safari and Chrome */
				
				}
	             /* Clear floats after the columns */

	             .row:after {
	             	content: "";
	             	display: table;
	             	clear: both;
	             }
	             /* The expanding image container */

	             .container {
	             	position: absolute;
	             	display: none;
	             	left: 5%;
	             	top: 5%;
	             	height: 90%;
	             }
	             .footer {
	             	width: 100%;
	             	background-color: #17124c;
	             	padding: 20px 0px;
	             	font-size: 30px;
	             	text-align: center;
					 color: #ee3634;
					 font-family: 'Patua One', cursive;
	             }
	             .fa {
	             	padding: 10px;
	             	font-size: 40px;
	             	width: 30px;
	             	text-align: center;
	             	text-decoration: none;
	             	margin: 5px 2px;
	             	border-radius: 50%;
	             }
	             .fa-facebook {
	             	color: white;
	             }
	             .fa-instagram {
	             	color: white;
	             }
	             .fa:hover {
	             	opacity: 0.7;
				 }
				 .ml6 {
					position: relative;
					font-weight: 900;
					font-size: 3.3em;
				  }
				  
				  .ml6 .text-wrapper {
					position: relative;
					display: inline-block;
					padding-right: 0.05em;
					overflow: hidden;
				  }
				  
				  .ml6 .letter {
					display: inline-block;
					line-height: 1em;
				  }


				  h1, h2, h3 {
					font-family: 'Patua One', cursive;
					margin-top: 0;
					margin-bottom: 2em;
				}
				
				h3 {
					color: rgb(199,199,199);
				}
				
				p {
					font-family: 'Patua One', cursive;
					color: rgb(160, 160, 160);
					margin-top: 0;
				}
				.outer {
					padding: 1em;
				}
				.section {
					column-count: 1;
					column-gap: 2em;
				}
				
				img {
					width: 80%;
					margin: 1em 0 0;
				}
				
				@media only screen and (min-width: 768px) {
			
					p {
						line-height: 1.6em;
					}
					.section {
						column-count: 2;
						column-rule-style: solid;
						column-rule-color: #faf5ef;
					}
					.section > * {
						margin-top: 0;
					}
				
					h1 {
						font-size: 3rem;
						margin: 2em 0 1em;
					}
				
					.outer {
						padding: 4em;
					}
				
					article {
						padding: 2em;
						background: #faf5ef;
					}
				
					h2 {
						display: inline-block;
						position: relative;
						z-index: 1;
					}
				
					.secondary {
						margin-top: 2em;
					}
				
					img {
						width: 100%;
					}
				
					h3 {
						color: black;
						margin: 1.5em 0 1em;
					}
				}
				@media only screen and (min-width: 1100px) {
					.outer {
						margin: 0 auto;
						width: 80%;
					}
					.section {
						column-count: 3;
					}
				}